*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#eef2f3;

}

.container{

width:90%;
height:90vh;
display:flex;
border-radius:20px;
overflow:hidden;
box-shadow:0 15px 40px rgba(0,0,0,0.1);

}


/* LEFT PANEL */

.left-panel{

width:50%;
background:linear-gradient(135deg,#cfe9f1,#b7e4c7);
padding:60px;
display:flex;
flex-direction:column;
justify-content:space-between;

}

.content h1{

font-size:42px;
color:#1c2b2d;
margin-bottom:20px;

}

.content p{

font-size:20px;
color:#2f4f4f;
line-height:1.5;

}

.illustration{

text-align:center;

}

.illustration img{

width:280px;

}


/* RIGHT PANEL */

.right-panel{

width:50%;
background:linear-gradient(to right,#ffffff,#eef7ee);
display:flex;
justify-content:center;
align-items:center;

}


.login-form{

width:70%;

}

.login-form h2{

font-size:30px;
margin-bottom:25px;
color:#333;

}

.login-form label{

display:block;
margin-top:15px;
margin-bottom:6px;
font-size:14px;
color:#444;

}

.login-form input{

width:100%;
padding:14px;
border-radius:10px;
border:1px solid #ddd;
font-size:14px;

}

.forgot{

display:block;
margin-top:8px;
font-size:13px;
text-align:right;
color:#7fbf3f;
text-decoration:none;

}

button{

width:100%;
margin-top:25px;
padding:14px;
border:none;
border-radius:12px;
background:#8bd100;
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:0.3s;

}

button:hover{

background:#76b800;

}

.signup-link{

margin-top:18px;
text-align:center;
font-size:14px;

}

.signup-link a{

color:#333;
font-weight:600;
text-decoration:none;

}